img{
    display: block;
    margin:auto;
}
div{
    background-color: lightgrey;
}
label{
    display: block;
    text-align: center;
}
input{
    display: block;
    margin: auto;
    width: 300px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.box1{
    float: left;
    display: inline;
    background-color: aqua;
    width: 32%;
    height: 80px;
    margin:2px;
    
}
a{
    display: block;
    text-align: center;
    
}
.box2{
    float:left;
    display: inline;
    background-color: rgb(86, 197, 197);
    width: 11%;
    height: 80px;
    margin:2px;
    
}
.box3{
    float: left;
    display: inline;
    background-color: rgb(12, 134, 134);
    width: 56%;
    height: 80px;
    margin:2px;
}
.inp{
    
    width: auto;
}
